img {
    max-width: 100%;
    height: auto;
    border: 10px solid rgb(112, 189, 230);
    display: block; 
    margin: 0 auto; 
  }
  
  @media (max-width: 768px) {
    img {
      width: 50%; 
    }
  }
  
  @media (max-width: 480px) {
    img {
      width: 90%; 
      border-width: 5px; 
    }
  }
  