.pageTitle {
    background-color: rgb(159, 74, 179);
    height: 60px;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    color: black;
}

.searchContainer {
    text-align: center;
    margin: 20px 0;
}

.searchInput {
    width: 300px;
    padding: 10px;
    font-size: 16px;
}

.cardsContainer {
    background: url('https://preview.redd.it/hvee7vppfj171.png?width=640&crop=smart&auto=webp&s=ab3f5d1c58781e2a483c60a190c8b5e2f1e7c962') no-repeat center center/cover;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: calc(100% - 20px); 
    margin: 10px; 
}

.cardTitle {
    background: white;
    width: 100%; 
    text-align: center;
}

.cardImage {
    height: auto; 
    border: 10px solid rgb(112, 189, 230);
}

@media (min-width: 500px) {
    .card {
        width: calc(100% - 20px); 
    }
    .pageTitle {
        font-size: 22px;
    }
    .cardImage {
        width: 100%;
    }
}

@media (min-width: 600px) {
    .card {
        width: calc(50% - 20px); 
    }
    .pageTitle {
        font-size: 32px;
    }
}

@media (min-width: 900px) {
    .card {
        width: calc(33.333% - 20px); 
    }
    .pageTitle {
        font-size: 36px;
    }
}

@media (min-width: 1200px) {
    .card {
        width: calc(25% - 20px);
    }
}
