.navbar {
    display: flex;
    flex-direction: column;
    background-color: rgb(203, 183, 243);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-links, .mobile-nav-links {
    display: flex;
    gap: 15px;
}

.menu-icon {
    display: none;
}

.menu-icon span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #000;
    margin: 4px;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 22px;
    background-color: rgb(203, 183, 243);
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }
}